{% include "recipes/partials/head.html" %}

<body class="m-0 min-h-screen">
  <header class="w-full bg-[#13141f] py-4 flex justify-center items-center">
    <div class="max-w-[144rem] mx-auto w-full flex justify-center">
      <h1 class="text-3xl font-bold">
        <a
          class="text-[4rem] text-white flex items-center justify-center w-fit gap-5"
          href="/"
        >
          <i class="fa-solid fa-utensils"></i>
          <span class="main-logo-text">Recipes</span>
        </a>
      </h1>
    </div>
  </header>
</body>
